<% let link = "" %>

<div class="multilevel-offcanvas off-canvas position-right" id="offCanvasRight" data-off-canvas>
    <ul class="vertical menu" data-accordion-menu>
      <li><a href="#">COMPENDIUM</a>
        <ul class="menu vertical nested">
          <li><a href="#">Armor</a></li>
          <li><a href="#">Backgrounds</a></li>
          <li><a href="#">Classes</a></li>
          <li><a href="#">Feats</a></li>
          <li><a href="#">Items</a></li>
          <li><a href="#">Monsters</a></li>
          <li><a href="#">Races</a></li>
          <li><a href="#">Spells</a></li>
          <li><a href="#">Sub-Classes</a></li>
          <li><a href="#">Weapons</a></li>
         </ul>
      </li>
      <li><a href="#">HOMEBREWS</a>
        <ul class="menu vertical nested">
            <li><a href="/armor" <% link = '/armor'%> >Armor</a></li>
            <li><a href="/backgrounds">Backgrounds</a></li>
            <li><a href="/classes">Classes</a></li>
            <li><a href="/feats">Feats</a></li>
            <li><a href="/items">Items</a></li>
            <li><a href="/monsters">Monsters</a></li>
            <li><a href="/races">Races</a></li>
            <li><a href="/spells">Spells</a></li>
            <li><a href="/subclasses">Sub-Classes</a></li>
            <li><a href="/weapons">Weapons</a></li>
         </ul>
       </li>
      <li><a href="#">PROFILE</a>
        <ul class="menu vertical nested">
          <li><a href="#">London</a></li>
          <li><a href="#">New York</a></li>
          <li><a href="#">Paris</a></li>
         </ul>
      </li>
     </ul>
    <ul class="vertical menu">
      <li class="off-canvas-menu-item">
      <li><a href="/sessions/new">Login</a></li>
      <li><a href="/users/new">Sign-Up</a></li>
    </ul>
    <ul class="vertical menu">
       <li><a href="#">FAQ</a></li>
       <li><a href="#">Terms & Conditions</a></li>
     </ul>
  </div>
  
  <div class="off-canvas-content" data-off-canvas-content>
    <div class="nav-bar">
        <div class="nav-bar-left">
          <a class="nav-bar-logo" href="/">HOMEBREW</a>
        </div>
        <div class="nav-bar-right">
          <ul class="menu">
            <li class="hide-for-small-only"><a href="/users/new">SIGN-UP</a></li>
            <li class="hide-for-small-only"><a href="/sessions/new">LOGIN</a></li>
            <li>
            <li>
              <button class="offcanvas-trigger" type="button" data-open="offCanvasRight">
                <span class="offcanvas-trigger-text hide-for-small-only">Menu</span>
                <div class="hamburger">
                  <span class="line"></span>
                  <span class="line"></span>
                  <span class="line"></span>
                </div>
              </button>
            </li>
          </ul>
      </div>
    </div>
</div>
  