<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/nav.ejs') %>
    <title>New Armor</title>
</head>
<body>
    <div class="container">
        <h1>Create New Armor</h1>
        <form action="/armor" method="POST">
            <input type="text" name="name" placeholder="Name">
            <input type="submit" value="Add Armor">
        </form>
    </div>
</body>
</html>