<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Foundation-Sites-CSS/css/foundation.css">
    <link rel="stylesheet" href="css/Foundation-Sites-CSS/css/app.css">
    <title>New Class</title>
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <div class="container">
        <h1>Edit Class</h1>
        <form action="/classes/<%=classes._id%>?_method=PUT" method="POST">
            <input type="text" name="name" value=<%=classes.name%> placeholder="Name">
            <input type="submit" value="Edit Class">
        </form>
    </div>
    <script src="css/Foundation-Sites-CSS/js/vendor/jquery.js"></script>
    <script src="css/Foundation-Sites-CSS/js/vendor/what-input.js"></script>
    <script src="css/Foundation-Sites-CSS/js/vendor/foundation.js"></script>
    <script src="css/Foundation-Sites-CSS/js/app.js"></script>
</body>
</html>