<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Homebrew</title>
  </head>
<body>
    <%- include('partials/nav.ejs') %>
    <%- include('partials/script') %>
  </body>
</html>