<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <%- include('partials/head.ejs') %>
    <title>HOMEBREW</title>
  </head>
<body>
    <%- include('partials/nav.ejs') %>
    <div class="grid-container">
        <div class="grid-x grid-margin-x small-up-2 medium-up-3">
          <div class="cell">
            <div class="card">
              <div class="card-section">
              <h4>Armor</h4>
                <p>Add Homebrew Armor</p>
              </div>
            </div>
          </div>
          <div class="cell">
            <div class="card">
              <div class="card-section">
                <h4>Background</h4>
                <p>Add Homebrew Background</p>
              </div>
            </div>
          </div>
          <div class="cell">
            <div class="card">
              <div class="card-section">
                <h4><a href="#">Class</a></h4>
                <p><a href="/classes">Add Homebrew Class</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-x grid-margin-x small-up-2 medium-up-3">
        <div class="cell">
          <div class="card">
            <div class="card-section">
              <h4>Feat</h4>
              <p>Add Homebrew Feat</p>
            </div>
          </div>
        </div>
        <div class="cell">
          <div class="card">
            <div class="card-section">
              <h4>Item</h4>
              <p>Add Homebrew Item</p>
            </div>
          </div>
        </div>
        <div class="cell">
          <div class="card">
            <div class="card-section">
              <h4>Monster</h4>
              <p>Add Homebrew Monster</p>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-x grid-margin-x small-up-2 medium-up-3">
        <div class="cell">
          <div class="card">
            <div class="card-section">
              <h4>Race</h4>
              <p>Add Homebrew Race</p>
            </div>
          </div>
        </div>
        <div class="cell">
          <div class="card">
            <div class="card-section">
              <h4>Spell</h4>
              <p>Add Homebrew Spell</p>
            </div>
          </div>
        </div>
        <div class="cell">
          <div class="card">
            <div class="card-section">
              <h4>Weapon</h4>
              <p>Add Homebrew Weapon</p>
            </div>
          </div>
        </div>
      </div>
    <%- include('partials/script') %>
  </body>
</html>