<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homebrew</title>
    <link rel="stylesheet" href="css/Foundation-Sites-CSS/css/foundation.css">
    <link rel="stylesheet" href="css/Foundation-Sites-CSS/css/app.css">
  </head>
<body>

    <div class="multilevel-offcanvas off-canvas position-right" id="offCanvasRight" data-off-canvas>

        <ul class="vertical menu" data-accordion-menu>
          <li><a href="#">COMPENDIUM</a>
            <ul class="menu vertical nested">
              <li><a href="#">Armor</a></li>
              <li><a href="#">Backgrounds</a></li>
              <li><a href="/classes">Classes</a></li>
              <li><a href="#">Feats</a></li>
              <li><a href="#">Items</a></li>
              <li><a href="#">Monsters</a></li>
              <li><a href="#">Races</a></li>
              <li><a href="/spells">Spells</a></li>
              <li><a href="#">Sub-Classes</a></li>
              <li><a href="#">Weapons</a></li>
             </ul>
          </li>
          <li><a href="#">HOMEBREWS</a>
            <ul class="menu vertical nested">
              <li><a href="#">Product 1</a></li>
              <li><a href="#">Product 2</a></li>
              <li><a href="#">Product 3</a></li>
             </ul>
           </li>
          <li><a href="#">PROFILE</a>
            <ul class="menu vertical nested">
              <li><a href="#">London</a></li>
              <li><a href="#">New York</a></li>
              <li><a href="#">Paris</a></li>
             </ul>
          </li>
         </ul>
        <ul class="vertical menu">
          <li class="off-canvas-menu-item">
          <li><a href="/users/new">Login</a></li>
          <li><a href="/sessions/new">Sign-Up</a></li>
        </ul>
        <ul class="vertical menu">
           <li><a href="#">FAQ</a></li>
           <li><a href="#">Terms & Conditions</a></li>
         </ul>
        <ul class="menu simple social-links">
          <li><a href="#" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
          <li><a href="#" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
          <li><a href="#" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
          <li><a href="#" target="_blank"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      
      <div class="off-canvas-content" data-off-canvas-content>
        <div class="nav-bar">
            <div class="nav-bar-left">
              <a class="nav-bar-logo" href="/">Homebrew</a>
            </div>
            <div class="nav-bar-right">
              <ul class="menu">
                <li class="hide-for-small-only"><a href="/users/new">SIGN-UP</a></li>
                <li class="hide-for-small-only"><a href="/sessions/new">LOGIN</a></li>
                <li>
                <li>
                  <button class="offcanvas-trigger" type="button" data-open="offCanvasRight">
                    <span class="offcanvas-trigger-text hide-for-small-only">Menu</span>
                    <div class="hamburger">
                      <span class="line"></span>
                      <span class="line"></span>
                      <span class="line"></span>
                    </div>
                  </button>
                </li>
              </ul>
          </div>
        </div>
       </div>
      
      
      
        
    <!-- <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
        <div class="title-bar-title">Menu</div>
      </div>
      
      <div class="top-bar" id="responsive-menu">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text">Homebrew</li>
                <li><input type="search" placeholder="Search"></li>
                <li><button type="button" class="button">Search</button></li>
              </ul>
        </div>
        <div class="top-bar-right">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="has-submenu">
                  <a href="#0">Compendium</a>
                  <ul class="submenu menu vertical" data-submenu>
                    <li><a href="armor"></a>Armor</li>
                    <li><a href="backgrounds"></a>Backgrounds</li>
                    <li><a href="classes"></a>Classes</li>
                    <li><a href="feats"></a>Feats</li>
                    <li><a href="items"></a>Items</li>
                    <li><a href="monsters"></a>Monsters</li>
                    <li><a href="races"></a>Races</li>
                    <li><a href="spells"></a>Spells</li>
                    <li><a href="subclasses"></a>Sub-Classes</li>
                    <li><a href="weapons"></a>Weapons</li>
                  </ul>
                </li>
                <li><a href="#0">Homebrews</a></li>
                <li><a href="#0">Balancer</a></li>
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="has-submenu">
                      <a href="#0">Profile</a>
                      <ul class="submenu menu vertical" data-submenu>
                        <li><a href="sessions/new"></a>Login</li>
                      </ul>
                    </li>
                  </ul>
              </ul>
        </div>
      </div> -->
      
    <script src="css/Foundation-Sites-CSS/js/vendor/jquery.js"></script>
    <script src="css/Foundation-Sites-CSS/js/vendor/what-input.js"></script>
    <script src="css/Foundation-Sites-CSS/js/vendor/foundation.js"></script>
    <script src="css/Foundation-Sites-CSS/js/app.js"></script>
  </body>
</html>