<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Homebrew</title>
  </head>
<body>
    <%- include('partials/nav.ejs') %>
    <div class="grid-container">
        <div class="grid-x grid-margin-x small-up-2 medium-up-3">
          <div class="cell">
            <div class="card">
              <div class="card-section">
              <h4>Armor</h4>
                <p><a href="/armor">Add Homebrew Armor</a></p>
              </div>
            </div>
          </div>
          <div class="cell">
            <div class="card">
              <div class="card-section">
                <h4>Background</h4>
                <p><a href="/backgrounds">Add Homebrew Background</a></p>
              </div>
            </div>
          </div>
          <div class="cell">
            <div class="card">
              <div class="card-section">
                <h4><a href="#">Class</a></h4>
                <p><a href="/classes">Add Homebrew Class</a></p>
              </div>
            </div>
          </div>
        </div>
      <div class="grid-x grid-margin-x small-up-2 medium-up-3">
        <div class="cell">
          <div class="card">
            <div class="card-section">
              <h4>Feat</h4>
              <p><a href="/feats">Add Homebrew Feat</a></p>
            </div>
          </div>
        </div>
        <div class="cell">
          <div class="card">
            <div class="card-section">
              <h4>Item</h4>
              <p><a href="/items">Add Homebrew Item</a></p>
            </div>
          </div>
        </div>
        <div class="cell">
          <div class="card">
            <div class="card-section">
              <h4>Monster</h4>
              <p><a href="/monsters">Add Homebrew Monster</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-x grid-margin-x small-up-2 medium-up-3">
        <div class="cell">
          <div class="card">
            <div class="card-section">
              <h4>Race</h4>
              <p><a href="/races">Add Homebrew Race</a></p>
            </div>
          </div>
        </div>
        <div class="cell">
          <div class="card">
            <div class="card-section">
              <h4>Spell</h4>
              <p><a href="/spells">Add Homebrew Spell</a></p>
            </div>
          </div>
        </div>
        <div class="cell">
          <div class="card">
            <div class="card-section">
              <h4>Spell</h4>
              <p><a href="/subclasses">Add Homebrew Sub-Class</a></p>
            </div>
          </div>
        </div>
      </div>
        <div class="grid-x grid-margin-x small-up-2 medium-up-3">
        <div class="cell">
          <div class="card">
            <div class="card-section">
              <h4>Weapon</h4>
              <p><a href="/weapons">Add Homebrew Weapon</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/script') %>
  </body>
</html>