<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homebrew</title>
    <link rel="stylesheet" href="css/Foundation-Sites-CSS/css/foundation.css">
    <link rel="stylesheet" href="css/Foundation-Sites-CSS/css/app.css">
  </head>
<body>

    <%- include('partials/nav.ejs') %>
    <script src="css/Foundation-Sites-CSS/js/vendor/jquery.js"></script>
    <script src="css/Foundation-Sites-CSS/js/vendor/what-input.js"></script>
    <script src="css/Foundation-Sites-CSS/js/vendor/foundation.js"></script>
    <script src="css/Foundation-Sites-CSS/js/app.js"></script>
  </body>
</html>