<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Homebrew</title>
  </head>
<body>
    <%- include('partials/nav.ejs') %>
    <div class="grid-container">
        <div class="grid-x grid-margin-x small-up-2 medium-up-3">
          <div class="cell">
            <div class="card">
              <img src="assets/img/generic/rectangle-1.jpg">
              <div class="card-section">
              <h4>Armor</h4>
                <p>Armor</p>
                <p>Homebrew Armor</p>
              </div>
            </div>
          </div>
          <div class="cell">
            <div class="card">
              <img src="assets/img/generic/rectangle-1.jpg">
              <div class="card-section">
                <h4>This is a card.</h4>
                <p>It has an easy to override visual style, and is appropriately subdued.</p>
              </div>
            </div>
          </div>
          <div class="cell">
            <div class="card">
              <img src="assets/img/generic/rectangle-1.jpg">
              <div class="card-section">
                <h4>This is a card.</h4>
                <p>It has an easy to override visual style, and is appropriately subdued.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-x grid-margin-x small-up-2 medium-up-3">
        <div class="cell">
          <div class="card">
            <img src="assets/img/generic/rectangle-1.jpg">
            <div class="card-section">
              <h4>This is a row of cards.</h4>
              <p>This row of cards is embedded in an Flex Block Grid.</p>
            </div>
          </div>
        </div>
        <div class="cell">
          <div class="card">
            <img src="assets/img/generic/rectangle-1.jpg">
            <div class="card-section">
              <h4>This is a card.</h4>
              <p>It has an easy to override visual style, and is appropriately subdued.</p>
            </div>
          </div>
        </div>
        <div class="cell">
          <div class="card">
            <img src="assets/img/generic/rectangle-1.jpg">
            <div class="card-section">
              <h4>This is a card.</h4>
              <p>It has an easy to override visual style, and is appropriately subdued.</p>
            </div>
          </div>
        </div>
      </div>
    <%- include('partials/script') %>
  </body>
</html>