<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="css/Foundation-Sites-CSS/css/foundation.css">
    <link rel="stylesheet" href="css/Foundation-Sites-CSS/css/app.css">
  </head>
<body>
    <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
        <div class="title-bar-title">Menu</div>
      </div>
      
      <div class="top-bar" id="responsive-menu">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Site Title</li>
            <li class="has-submenu">
              <a href="#0">One</a>
              <ul class="submenu menu vertical" data-submenu>
                <li><a href="#0">One</a></li>
                <li><a href="#0">Two</a></li>
                <li><a href="#0">Three</a></li>
              </ul>
            </li>
            <li><a href="#0">Two</a></li>
            <li><a href="#0">Three</a></li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li><input type="search" placeholder="Search"></li>
            <li><button type="button" class="button">Search</button></li>
          </ul>
        </div>
      </div>
      
    <script src="css/Foundation-Sites-CSS/js/vendor/jquery.js"></script>
    <script src="css/Foundation-Sites-CSS/js/vendor/what-input.js"></script>
    <script src="css/Foundation-Sites-CSS/js/vendor/foundation.js"></script>
    <script src="css/Foundation-Sites-CSS/js/app.js"></script>
  </body>
</html>