<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>New Race</title>
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <div class="container">
        <h1>Create New Race</h1>
        <form action="/races" method="POST">
            <input type="text" name="name" placeholder="Name">
            <input type="submit" value="Add Race">
        </form>
    </div>
    <%- include('partials/script.ejs') %>
</body>
</html>