<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Sign-Up</title>
</head>
<body>
    <h1 class="headerText">Sign-Up</h1>
    <form action='/users' method='POST' data-abide novalidate>
    <div data-abide-error class="alert callout" style="display: none;">
        <p><i class="fi-alert"></i> There are some errors in your form.</p>
    </div>
    <div class="grid-x align-center">
        <div  class="cell small-6 medium-5 large-5">
        <div class="cell small-12">
            <label>Username
            <input type="text" name="username" placeholder="Username" aria-describedby="hint1" required pattern="text">
            <span class="form-error">
                Username required.
            </span>
            </label>
        <p class="help-text" id="hint1">Usernames must be alphanumeric with no special characters.</p>
        </div>
        <div class="cell small-12">
            <label>Email
            <input type="email" name="email" placeholder="Username" required pattern="email">
            <span class="form-error">
                Invalid Email
            </span>
            </label>
        </div>
        <div class="cell small-12">
            <label>Password
            <input type="password" name="password" id="password" placeholder="Password" aria-describedby="hint2" required >
            <span class="form-error">
                Not a valid password.
            </span>
            </label>
            <p class="help-text" id="hint2">Passwords must be at least 8 characters long.</p>
        </div>
        <div class="cell small-12">
            <label>Confirm Password
            <input type="password" placeholder="Confirm Password" required pattern="alpha_numeric" data-equalto="password">
            <span class="form-error">
                Incorrect password.
            </span>
            </label>
        </div>
        <div>
        <div class="grid-container">
            <div class="grid-x align-center">
            <div class="grid-container">
                <div class="grid-x align-center">
                <fieldset class="cell small-9">
                    <button class="button login-buttons" type="submit" value="Submit">Signup</button>
                </fieldset>
                <fieldset class="cell small-3">
                <a href=/sessions/new><button class="button login-buttons" type="button">Login</button></a>
                </div>
            </div>
        </div>
    </form>
        <%- include('partials/script') %>
    </body>
</html>
