<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>New Spell</title>
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <div class="grid-container">
        <h1>Create New Spell</h1><hr>
        <form action="/spells" method="POST" data-abide novalidate>
            <div class="grid-x grid-margin-x">
              <div class="cell">
                <div data-abide-error class="alert callout" style="display: none;">
                  <p><i class="fi-alert"></i> There are some errors in your form.</p>
                </div>
              </div>
            </div><div class="grid-x grid-margin-x">
                <div class="cell small-6 medium-6 large-2">
                    <legend>Spell Name:</legend>
                    <input type="text" name="name" placeholder="Spell Name" required pattern="text">
                    <span class="form-error"> Spell name required.</span>
                </div>
                <div class="cell small-6 medium-6 large-1">
                    <legend><span data-tooltip class="top" data-click-open="false" tabindex="2" title="I don't stay open">Level:</span></legend>
                    <input type="number" name="level" placeholder="Level" min="1" max="20" required pattern="number">
                    <span class="form-error"> Level required.</span>
                </div>
                    <fieldset class="cell small-12 medium-12 large-9">
                        <legend>School of Magic:</legend>
                        <input type="radio" name="school" value="Abjuration" id="schoolAbjuration"><label for="schoolAbjuration">Abjuration</label>
                        <input type="radio" name="school" value="Conjuration" id="schoolConjuration" required><label for="schoolConjuration">Conjuration</label>
                        <input type="radio" name="school" value="Divination" id="schoolDivination"><label for="schoolDivination">Divination</label>
                        <input type="radio" name="school" value="Envocation" id="schoolEnvocation"><label for="schoolEnvocation">Envocation</label>
                        <input type="radio" name="school" value="Evocation" id="schoolEvocation"><label for="schoolEvocation">Evocation</label>
                        <input type="radio" name="school" value="Illusion" id="schoolIllusion"><label for="schoolIllusion">Illusion</label>
                        <input type="radio" name="school" value="Necromancy" id="schoolNecromancy"><label for="schoolNecromancy">Necromancy</label>
                        <input type="radio" name="school" value="Transmutation" id="schoolTransmutation"><label for="schoolTransmutation">Transmutation</label>
                        <span class="form-error"> School of magic required.</span>
                    </fieldset>
                    <fieldset class="cell small-6 medium-2 large-2">
                        <legend>Ritual:</legend>
                        <input type="radio" name="ritual" value="Yes" id="ritualY"><label for="ritualY">Yes</label>
                        <input type="radio" name="ritual" value="No" id="ritualN" required><label for="ritualN">No</label>
                    </fieldset>
                <div class="cell small-6 medium-3 large-4">
                    <legend>Casting Time:</legend>
                    <input type="number" name="castingTime" placeholder="Casting Time" required pattern="number">
                    <span class="form-error"> Casting time required.</span>
                </div>
                <div class="cell small-6 medium-4 large-4">
                    <legend>Casting Time: (Type)</legend>
                    <select id="timeSelect" name="castingType" required>
                        <option value=""></option>
                        <option value="action">Action(s)</option>
                        <option value="bonus action">Bonus Action(s)</option>
                        <option value="hour">Hour(s)</option>
                        <option value="minute">Minute(s)</option>
                        <option value="no action">No Action</option>
                        <option value="reaction">Reaction</option>
                        <option value="special">Special</option>
                    </select>
                    <span class="form-error"> Casting type required.</span>
                </div>
                <div class="cell small-6 medium-4 large-4">
                    <legend>Range: (Type)</legend>
                    <select id="timeSelect" name="rangeType" required>
                        <option value=""></option>
                        <option value="Self">Self</option>
                        <option value="Touch">Touch</option>
                        <option value="Ranged">Ranged</option>
                        <option value="Sight">Sight</option>
                        <option value="Unlimited">Unlimited</option>
                    </select>
                    <span class="form-error"> Range type required.</span>
                </div>
                <div class="cell small-6 medium-6 large-1">
                    <legend><span data-tooltip class="top" data-click-open="false" tabindex="2" title="I don't stay open">Range:</span></legend>
                    <input type="number" name="range" placeholder="FT." min="1" required pattern="number">
                    <span class="form-error"> Range required.</span>
                </div>
                <div class="cell small-6 medium-4 large-4">
                    <legend>Area of Effect: (Type)</legend>
                    <select id="timeSelect" name="aeoType" required>
                        <option value=""></option>
                        <option value="Cone">Cone</option>
                        <option value="Cube">Cube</option>
                        <option value="Cylinder">Cylinder</option>
                        <option value="Line">Line</option>
                        <option value="Sphere">Sphere</option>
                        <option value="Square">Square</option>
                    </select>
                    <span class="form-error"> Area of Effect type required.</span>
                </div>
                <div class="cell small-6 medium-6 large-1">
                    <legend><span data-tooltip class="top" data-click-open="false" tabindex="2" title="I don't stay open">AOE:</span></legend>
                    <input type="number" name="aeoSize" placeholder="FT." min="1" required pattern="number">
                    <span class="form-error"> Area of Effect required.</span>
                </div>
                <fieldset class="cell small-6 medium-3 large-2">
                    <legend>Components:</legend>
                    <input id="vBox" type="checkbox" value="V" name="components"><label for="vBox">V</label>
                    <input id="sBox" type="checkbox" value="S" name="components" required><label for="sBox">S</label>
                    <input id="mBox" type="checkbox" value="M" name="components"><label for="mBox">M</label>
                    <span class="form-error"> Please check one.</span>
                </fieldset>
                <div class="cell small-12 medium-12 large-12">
                    <legend>Materials:</legend>
                    <textarea name="materials" placeholder="Materials"></textarea>
                </div>
                <div class="cell small-4 medium-4 large-4">
                    <legend>Duration Type:</legend>
                    <select id="durationSelect" name="durationType" required>
                        <option value=""></option>
                        <option value="Concentration">Concentration</option>
                        <option value="Instantaneous">Instantaneous</option>
                        <option value="Special">Special</option>
                        <option value="Time">Time</option>
                        <option value="Until Dispelled">Until Dispelled</option>
                        <option value="Untill Dipelled or Triggered">Until Dispelled or Triggered</option>
                    </select>
                </div>
                <div class="cell small-4 medium-4 large-4">
                    <legend>Duration:</legend>
                    <input type="number" name="duration" placeholder="Duration" required pattern="number">
                    <span class="form-error"> Number required.</span>
                </div>
                <div class="cell small-4 medium-4 large-4">
                    <legend>Length:</legend>
                    <select id="select" name="length" required>
                        <option value=""></option>
                        <option value="round">Round</option>
                        <option value="minute">Minute</option>
                        <option value="hour">Hour</option>
                        <option value="day">Day</option>
                    </select>
                </div>
                <div class="cell small-12 medium-12 large-12">
                <legend>Spell Description:</legend>
                    <textarea name="description" required placeholder="Description"></textarea>
                </div>
                <div class="cell small-12 medium-4 large-4">
                    <legend>Available for Class(es):</legend>
                    <select multiple id="select" name="classes" required>
                        <option value=""></option>
                        <option value="Artificer">Artificer</option>
                        <option  value="Artificer (Alchemist)">Artificer (Alchemist)</option>
                        <option  value="Artificer (Armorer)">Artificer (Armorer)</option>
                        <option  value="Artificer (Artillerist)">Artificer (Artillerist)</option>
                        <option  value="Artificer (Battle Mage)">Artificer (Battle Mage)</option>
                        <option  value="Bard">Bard</option>
                        <option  value="Bard (College of Creation)">Bard (College of Creation)</option>
                        <option  value="Bard (College of Eloquence)">Bard (College of Eloquence)</option>
                        <option  value="Bard (College of Glamour)">Bard (College of Glamour)</option>
                        <option  value="Bard (College of Lore")>Bard (College of Lore)</option>
                        <option  value="Bard (College of Spirits)">Bard (College of Spirits)</option>
                        <option  value="Bard (College of Swords)">Bard (College of Swords)</option>
                        <option  value="Bard (College of Valor)">Bard (College of Valor)</option>
                        <option  value="Bard (College of Whispers)">Bard (College of Whispers)</option>
                        <option  value="Cleric">Cleric</option>
                        <option  value="Cleric (Arcana Domain)">Cleric (Arcana Domain)</option>
                        <option  value="Cleric (Death Domain)">Cleric (Death Domain)</option>
                        <option  value="Cleric (Forge Domain)">Cleric (Forge Domain)</option>
                        <option  value="Cleric (Grave Domain)">Cleric (Grave Domain)</option>
                        <option  value="Cleric (Knowledge Domain)">Cleric (Knowledge Domain)</option>
                        <option  value="Cleric (Life Domain)">Cleric (Life Domain)</option>
                        <option  value="Cleric (Light Domain)">Cleric (Light Domain)</option>
                        <option  value="Cleric (Nature Domain)">Cleric (Nature Domain)</option>
                        <option  value="Cleric (Order Domain)">Cleric (Order Domain)</option>
                        <option  value="Cleric (Peace Domain)">Cleric (Peace Domain)</option>
                        <option  value="Cleric (Tempest Domain)">Cleric (Tempest Domain)</option>
                        <option  value="Cleric (Trickery Domain)">Cleric (Trickery Domain)</option>
                        <option  value="Cleric (Twilight Domain)">Cleric (Twilight Domain)</option>
                        <option  value="Cleric (War Domain)">Cleric (War Domain)</option>
                        <option  value="Druid">Druid</option>
                        <option  value="Druid (Circle of Dreams)">Druid (Circle of Dreams)</option>
                        <option  value="Druid (Circle of Spores)">Druid (Circle of Spores)</option>
                        <option  value="Druid (Circle of Stars)">Druid (Circle of Stars)</option>
                        <option  value="Druid (Circle of The Land)">Druid (Circle of The Land)</option>
                        <option  value="Druid (Circle of The Land: Arctic)">Druid (Circle of The Land: Arctic)</option>
                        <option  value="Druid (Circle of The Land: Coast)">Druid (Circle of The Land: Coast)</option>
                        <option  value="Druid (Circle of The Land: Desert)">Druid (Circle of The Land: Desert)</option>
                        <option  value="Druid (Circle of The Land: Forest)">Druid (Circle of The Land: Forest)</option>
                        <option  value="Druid (Circle of The Land: Grassland)">Druid (Circle of The Land: Grassland)</option>
                        <option  value="Druid (Circle of The Land: Mountain)">Druid (Circle of The Land: Mountain)</option>
                        <option  value="Druid (Circle of The Land: Swamp)">Druid (Circle of The Land: Swamp)</option>
                        <option  value="Druid (Circle of The Land: Underdark)">Druid (Circle of The Land: Underdark)</option>
                        <option  value="Druid (Circle of The Moon)">Druid (Circle of The Moon)</option>
                        <option  value="Druid (Circle of The Shepherd)">Druid (Circle of The Shepherd</option>
                        <option  value="Druid (Circle of Wildfire)">Druid (Circle of Wildfire)</option>
                        <option  value="Fighter (Eldritch Knight)">Fighter (Eldritch Knight)</option>
                        <option  value="Paladin">Paladin</option>
                        <option  value="Paladin (Oath of Conquest)">Paladin (Oath of Conquest)</option>
                        <option  value="Paladin (Oath of Devotion)">Paladin (Oath of Devotion)</option>
                        <option  value="Paladin (Oath of Glory)">Paladin (Oath of Glory)</option>
                        <option  value="Paladin (Oath of Redemption)">Paladin (Oath of Redemption)</option>
                        <option  value="Paladin (Oath of Ancients)">Paladin (Oath of Ancients)</option>
                        <option  value="Paladin (Oath of The Crown)">Paladin (Oath of The Crown)</option>
                        <option  value="Paladin (Oath of The Open Sea)">Paladin (Oath of The Open Sea)</option>
                        <option  value="Paladin (Oath of The Watchers)">Paladin (Oath of The Watchers)</option>
                        <option  value="Paladin (Oath of Vengeance)">Paladin (Oath of Vengeance)</option>
                        <option  value="Paladin (Oathbreaker)">Paladin (Oathbreaker)</option>
                        <option  value="Ranger">Ranger</option>
                        <option  value="Ranger (Beast Master)">Ranger (Beast Master)</option>
                        <option  value="Ranger (Drakewarden)">Ranger (Drakewarden)</option>
                        <option  value="Ranger (Fey Wanderer)">Ranger (Fey Wanderer)</option>
                        <option  value="Ranger (Gloom Stalker)">Ranger (Gloom Stalker)</option>
                        <option  value="Ranger (Horizon Walker)">Ranger (Horizon Walker)</option>
                        <option  value="Ranger (Hunter)">Ranger (Hunter)</option>
                        <option  value="Ranger (Monster Slayer)">Ranger (Monster Slayer)</option>
                        <option  value="Ranger (Swarmkeeper)">Ranger (Swarmkeeper)</option>
                        <option  value="Rogue (Arcane Trickster)">Rogue (Arcane Trickster)</option>
                        <option  value="Sorcerer">Sorcerer</option>
                        <option  value="Sorcerer (Aberrant Mind)">Sorcerer (Aberrant Mind)</option>
                        <option  value="Sorcerer (Clockwork Soul)">Sorcerer (Clockwork Soul)</option>
                        <option  value="Sorcerer (Divine Soul)">Sorcerer (Divine Soul)</option>
                        <option  value="Sorcerer (Draconic Bloodline)">Sorcerer (Draconic Bloodline)</option>
                        <option  value="Sorcerer (Lunar Sorcery)">Sorcerer (Lunar Sorcery)</option>
                        <option  value="Sorcerer (Shadow Magic)">Sorcerer (Shadow Magic)</option>
                        <option  value="Sorcerer (Storm Sorcery)">Sorcerer (Storm Sorcery)</option>
                        <option  value="Sorcerer (Wild Magic)">Sorcerer (Wild Magic)</option>
                        <option  value="Warlock">Warlock</option>
                        <option  value="Warlock (The Archfey)">Warlock (The Archfey)</option>
                        <option  value="Warlock (The Celestial)">Warlock (The Celestial)</option>
                        <option  value="Warlock (The Fathomless)">Warlock (The Fathomless)</option>
                        <option  value="Warlock (The Fiend)">Warlock (The Fiend)</option>
                        <option  value="Warlock (The Genie)">Warlock (The Genie)</option>
                        <option  value="Warlock (The Great Old One)">Warlock (The Great Old One)</option>
                        <option  value="Warlock (The Hexblade)">Warlock (The Hexblade)</option>
                        <option  value="Warlock (The Undead)">Warlock (The Undead)</option>
                        <option  value="Warlock (The Undying)">Warlock (The Undying)</option>
                        <option  value="Wizard">Wizard</option>
                        <option  value="Wizard (Bladesinging)">Wizard (Bladesinging)</option>
                        <option  value="Wizard (Chronurgy Magic)">Wizard (Chronurgy Magic)</option>
                        <option  value="Wizard (Graviturgy Magic)">Wizard (Graviturgy Magic)</option>
                        <option  value="Wizard (Order of Scribes)">Wizard (Order of Scribes)</option>
                        <option  value="Wizard (School of Abjuration)">Wizard (School of Abjuration)</option>
                        <option  value="Wizard (School of Conjuration)">Wizard (School of Conjuration) </option>
                        <option  value="Wizard (School of Divination)">Wizard (School of Divination)</option>
                        <option  value="Wizard (School of Enchantment)">Wizard (School of Enchantment)</option>
                        <option  value="Wizard (School of Evocation)">Wizard (School of Evocation)</option>
                        <option  value="Wizard (School of Illusion)">Wizard (School of Illusion)</option>
                        <option  value="Wizard (School of Necromancy)">Wizard (School of Necromancy)</option>
                        <option  value="Wizard (School of Transmutation)">Wizard (School of Transmutation)</option>
                        <option  value="Wizard (War Magic)">Wizard (War Magic)</option>
                    </select>
                </div>  
                <div class="cell small-4 medium-4 large-4">
                    <legend>Dice Count:</legend>
                    <input type="number" name="diceCount" placeholder="Dice Count" min="1" max="20" aria-describedby="exampleHelpTextNumber" required pattern="number">
                    <span class="form-error"> Number of dice required.</span>
                </div>
                <div class="cell small-4 medium-4 large-4">
                    <legend>Die Type:</legend>
                    <select id="select" name="roll" required>
                        <option value=""></option>
                        <option value="d4">d4</option>
                        <option value="d6">d6</option>
                        <option value="d8">d8</option>
                        <option value="d10">d10</option>
                        <option value="d12">d12</option>
                        <option value="d20">d20</option>
                    </select>
                </div>
                <fieldset class="cell small-12 medium-3 large-2">
                    <legend>Higher Level Scale?:</legend>
                    <input type="radio" name="scale" value=true id="higherScaleY"><label for="higherScaleY">Yes</label>
                    <input type="radio" name="scale" value=false id="higherScaleN" required><label for="higherScaleN">No</label>
                </fieldset>
                <div class="cell small-6 medium-3 large-3">
                    <legend>Scaling Type:</legend>
                    <select id="select" name="scalingType" required>
                        <option value=""></option>
                        <option value="Character Level">Character Level</option>
                        <option value="Spell Scale">Spell Scale</option>
                        <option value="Spell Level">Spell Level</option>
                    </select>
                </div>
                <div class="cell small-6 medium-2 large-2">
                    <legend>Saving Throw:</legend>
                    <select id="select" name="saveThrow" required>
                        <option value=""></option>
                        <option value="Strength">STR</option>
                        <option value="Dexterity">DEX</option>
                        <option value="Constitution">CON</option>
                        <option value="Intelligence">INT</option>
                        <option value="Wisdom">WIS</option>
                        <option value="Charisma">CHA</option>
                    </select>
                </div>
                <div class="cell small-12 medium-12 large-12">
                    <legend>Effect on Missed Save:</legend>
                    <textarea name="missedSave" required placeholder="Effect on Missed Save"></textarea>
                </div>
                <div class="cell small-12 medium-12 large-12">
                    <legend>Effect on Save Success:</legend>
                    <textarea name="successSave" required placeholder="Effect on Save Success"></textarea>
                </div>
                <div class="cell small-12 medium-12 large-12">
                    <legend>Effect on Save Fail:</legend>
                    <textarea name="failSave" required placeholder="Effect on Save Fail"></textarea>
                </div>
                <div class="grid-x grid-margin-x">
                    <fieldset class="cell medium-6">
                        <button class="button" type="submit" value="Submit">Submit</button>
                    </fieldset>
                    <fieldset class="cell medium-6">
                        <button class="button" type="reset" value="Reset">Reset</button>
                    </fieldset>
                </div>
            </form>
          </div>
          <%- include('partials/script.ejs')%>
        </body>
        </html>