<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spells</title>
</head>
<body>
    <div class="container">
        <h1>Spells</h1>
        <ul>
            <% for(let i = 0; i < spells; i++) { %>
                <li><%=spells[i]%></li>
            <% } %>
        </ul>
    </div>
</body>
</html>