<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Spell</title>
</head>
<body>
    <div class="container">
        <h1>Create New Spell</h1>
        <form action="/spells" method="POST">
            <input type="text" name="name" placeholder="Name">
            <input type="submit" value="Add Spell">
        </form>
    </div>
</body>
</html>