<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spells</title>
</head>
<body></body>
<header>
    <h1>Homebrew: Spell Collection</h1>
</header>
<div class="header">
    <h2>Your Collection</h2>
    <a href="/spells/new"><button class="add">Add Homebrew Spell</button></a>
    <div class="collection-container">
        <% for(let i = 0; i < spells.length; i++) { %>
                <a href="/spells/<%=spells[i]._id%>"></a>
            <% } %>
</div>
</div>
</body>
</html>