<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>New Spell</title>
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <div class="grid-container">
        <h1>Create New Spell</h1>
        <form action="/spells" method="POST" data-abide novalidate>
            <div class="grid-x grid-margin-x">
            <div class="cell">
                <div data-abide-error class="alert callout" style="display: none;">
                <p><i class="fi-alert"></i> There are some errors in your form.</p>
                </div>
            </div>
            </div>
            <div class="grid-x grid-margin-x">
            <div class="cell small-6 medium-6 large-2">
                <legend>Spell Name:</legend>
                <input type="text" placeholder="Spell Name" required pattern="text">
                <span class="form-error"> Spell name required.</span>
            </div>
            <div class="cell small-6 medium-6 large-1">
                <legend><span data-tooltip class="top" data-click-open="false" tabindex="2" title="I don't stay open">Level:</span></legend>
                <input type="number" placeholder="Level" min="1" max="20" required pattern="number">
                <span class="form-error"> Level required.</span>
            </div>
                <fieldset class="cell small-12 medium-12 large-9">
                    <legend>School of Magic:</legend>
                    <input type="radio" name="school" value="A" id="schoolAbjuration"><label for="schoolAbjuration">Abjuration</label>
                    <input type="radio" name="school" value="C" id="schoolConjuration" required><label for="schoolConjuration">Conjuration</label>
                    <input type="radio" name="school" value="D" id="schoolDivination"><label for="schoolDivination">Divination</label>
                    <input type="radio" name="school" value="EN" id="schoolEnvocation"><label for="schoolEnvocation">Envocation</label>
                    <input type="radio" name="school" value="EV" id="schoolEvocation"><label for="schoolEvocation">Evocation</label>
                    <input type="radio" name="school" value="I" id="schoolIllusion"><label for="schoolIllusion">Illusion</label>
                    <input type="radio" name="school" value="N" id="schoolNecromancy"><label for="schoolNecromancy">Necromancy</label>
                    <input type="radio" name="school" value="T" id="schoolTransmutation"><label for="schoolTransmutation">Transmutation</label>
                    <span class="form-error"> School of magic required.</span>
                </fieldset>
                <fieldset class="cell small-6 medium-2 large-2">
                    <legend>Ritual:</legend>
                    <input type="radio" name="ritual" value="YES" id="pokemonRed"><label for="pokemonRed">Yes</label>
                    <input type="radio" name="ritual" value="NO" id="pokemonBlue" required><label for="pokemonBlue">No</label>
                </fieldset>
            <div class="cell small-6 medium-3 large-4">
                <legend>Casting Time:</legend>
                <input type="number" placeholder="Casting Time" required pattern="number">
                <span class="form-error"> Casting time required.</span>
            </div>
            <div class="cell small-6 medium-4 large-4">
                <legend>Casting Time: (Type)</legend>
                <select id="select" required>
                    <option name="time" value="action">Action(s)</option>
                    <option name="time" value="bonus action">Bonus Action(s)</option>
                    <option name="time" value="hour">Hour(s)</option>
                    <option name="time" value="minute">Minute(s)</option>
                    <option name="time" value="no action">No Action</option>
                    <option name="time" value="reaction">Reaction</option>
                    <option name="time" value="special">Special</option>
                </select>
                <span class="form-error"> Casting type required.</span>
            </div>
            <fieldset class="cell small-6 medium-3 large-2">
                <legend>Components:</legend>
                <input id="vBox" type="checkbox" name="components"><label for="vBox">V</label>
                <input id="sBox" type="checkbox" name="components" required><label for="sBox">S</label>
                <input id="mBox" type="checkbox" name="components"><label for="mBox">M</label>
                <span class="form-error"> Please check one.</span>

            </fieldset>
            <div class="cell small-12 medium-12 large-12">
                <legend>Materials:</legend>
                <textarea name="materials" placeholder="Materials"></textarea>
            </div>
            <div class="cell small-4 medium-4 large-4">
                <legend>Duration Type:</legend>
                <select id="select" required>
                    <option name="duration" value="Concentration">Concentration</option>
                    <option name="duration" value="Instantaneous">Instantaneous</option>
                    <option name="duration" value="Special">Special</option>
                    <option name="duration" value="Time">Time</option>
                    <option name="duration" value="Until Dispelled">Until Dispelled</option>
                    <option name="duration" value="Untill Dipelled or Triggered">Until Dispelled or Triggered</option>
                </select>
            </div>
            <div class="cell small-4 medium-4 large-4">
                <legend>Duration:</legend>
                <input type="number" name="duration" placeholder="Duration" required pattern="number">
                <span class="form-error"> Number required.</span>
            </div>
            <div class="cell small-4 medium-4 large-4">
                <legend>Length:</legend>
                <select id="select" required>
                    <option value=""></option>
                    <option name="duration" value="round">Round</option>
                    <option name="duration" value="minute">Minute</option>
                    <option name="duration" value="hour">Hour</option>
                    <option name="duration" value="day">Day</option>
                </select>
            </div>
            <div class="cell small-12 medium-12 large-12">
            <legend>Spell Description:</legend>
                <textarea name="description" required pattern="text" placeholder="Description"></textarea>
            </div>
            <div class="cell small-12 medium-4 large-4">
                <legend>Available for Class(es):</legend>
                <select multiple id="select" required>
                    <option name="classes" value="Artificer">Artificer</option>
                    <option name="classes" value="Artificer (Alchemist)">Artificer (Alchemist)</option>
                    <option name="classes" value="Artificer (Armorer)">Artificer (Armorer)</option>
                    <option name="classes" value="Artificer (Artillerist)">Artificer (Artillerist)</option>
                    <option name="classes" value="Artificer (Battle Mage)">Artificer (Battle Mage)</option>
                    <option name="classes" value="Bard">Bard</option>
                    <option name="classes" value="Bard (College of Creation)">Bard (College of Creation)</option>
                    <option name="classes" value="Bard (College of Eloquence)">Bard (College of Eloquence)</option>
                    <option name="classes" value="Bard (College of Glamour)">Bard (College of Glamour)</option>
                    <option name="classes" value="Bard (College of Lore")>Bard (College of Lore)</option>
                    <option name="classes" value="Bard (College of Spirits)">Bard (College of Spirits)</option>
                    <option name="classes" value="Bard (College of Swords)">Bard (College of Swords)</option>
                    <option name="classes" value="Bard (College of Valor)">Bard (College of Valor)</option>
                    <option name="classes" value="Bard (College of Whispers)">Bard (College of Whispers)</option>
                    <option name="classes" value="Cleric">Cleric</option>
                    <option name="classes" value="Cleric (Arcana Domain)">Cleric (Arcana Domain)</option>
                    <option name="classes" value="Cleric (Death Domain)">Cleric (Death Domain)</option>
                    <option name="classes" value="Cleric (Forge Domain)">Cleric (Forge Domain)</option>
                    <option name="classes" value="Cleric (Grave Domain)">Cleric (Grave Domain)</option>
                    <option name="classes" value="Cleric (Knowledge Domain)">Cleric (Knowledge Domain)</option>
                    <option name="classes" value="Cleric (Life Domain)">Cleric (Life Domain)</option>
                    <option name="classes" value="Cleric (Light Domain)">Cleric (Light Domain)</option>
                    <option name="classes" value="Cleric (Nature Domain)">Cleric (Nature Domain)</option>
                    <option name="classes" value="Cleric (Order Domain)">Cleric (Order Domain)</option>
                    <option name="classes" value="Cleric (Peace Domain)">Cleric (Peace Domain)</option>
                    <option name="classes" value="Cleric (Tempest Domain)">Cleric (Tempest Domain)</option>
                    <option name="classes" value="Cleric (Trickery Domain)">Cleric (Trickery Domain)</option>
                    <option name="classes" value="Cleric (Twilight Domain)">Cleric (Twilight Domain)</option>
                    <option name="classes" value="Cleric (War Domain)">Cleric (War Domain)</option>
                    <option name="classes" value="Druid">Druid</option>
                    <option name="classes" value="Druid (Circle of Dreams)">Druid (Circle of Dreams)</option>
                    <option name="classes" value="Druid (Circle of Spores)">Druid (Circle of Spores)</option>
                    <option name="classes" value="Druid (Circle of Stars)">Druid (Circle of Stars)</option>
                    <option name="classes" value="Druid (Circle of The Land)">Druid (Circle of The Land)</option>
                    <option name="classes" value="Druid (Circle of The Land: Arctic)">Druid (Circle of The Land: Arctic)</option>
                    <option name="classes" value="Druid (Circle of The Land: Coast)">Druid (Circle of The Land: Coast)</option>
                    <option name="classes" value="Druid (Circle of The Land: Desert)">Druid (Circle of The Land: Desert)</option>
                    <option name="classes" value="Druid (Circle of The Land: Forest)">Druid (Circle of The Land: Forest)</option>
                    <option name="classes" value="Druid (Circle of The Land: Grassland)">Druid (Circle of The Land: Grassland)</option>
                    <option name="classes" value="Druid (Circle of The Land: Mountain)">Druid (Circle of The Land: Mountain)</option>
                    <option name="classes" value="Druid (Circle of The Land: Swamp)">Druid (Circle of The Land: Swamp)</option>
                    <option name="classes" value="Druid (Circle of The Land: Underdark)">Druid (Circle of The Land: Underdark)</option>
                    <option name="classes" value="Druid (Circle of The Moon)">Druid (Circle of The Moon)</option>
                    <option name="classes" value="Druid (Circle of The Shepherd)">Druid (Circle of The Shepherd</option>
                    <option name="classes" value="Druid (Circle of Wildfire)">Druid (Circle of Wildfire)</option>
                    <option name="classes" value="Fighter (Eldritch Knight)">Fighter (Eldritch Knight)</option>
                    <option name="classes" value="Paladin">Paladin</option>
                    <option name="classes" value="Paladin (Oath of Conquest)">Paladin (Oath of Conquest)</option>
                    <option name="classes" value="Paladin (Oath of Devotion)">Paladin (Oath of Devotion)</option>
                    <option name="classes" value="Paladin (Oath of Glory)">Paladin (Oath of Glory)</option>
                    <option name="classes" value="Paladin (Oath of Redemption)">Paladin (Oath of Redemption)</option>
                    <option name="classes" value="Paladin (Oath of Ancients)">Paladin (Oath of Ancients)</option>
                    <option name="classes" value="Paladin (Oath of The Crown)">Paladin (Oath of The Crown)</option>
                    <option name="classes" value="Paladin (Oath of The Open Sea)">Paladin (Oath of The Open Sea)</option>
                    <option name="classes" value="Paladin (Oath of The Watchers)">Paladin (Oath of The Watchers)</option>
                    <option name="classes" value="Paladin (Oath of Vengeance)">Paladin (Oath of Vengeance)</option>
                    <option name="classes" value="Paladin (Oathbreaker)">Paladin (Oathbreaker)</option>
                    <option name="classes" value="Ranger">Ranger</option>
                    <option name="classes" value="Ranger (Beast Master)">Ranger (Beast Master)</option>
                    <option name="classes" value="Ranger (Drakewarden)">Ranger (Drakewarden)</option>
                    <option name="classes" value="Ranger (Fey Wanderer)">Ranger (Fey Wanderer)</option>
                    <option name="classes" value="Ranger (Gloom Stalker)">Ranger (Gloom Stalker)</option>
                    <option name="classes" value="Ranger (Horizon Walker)">Ranger (Horizon Walker)</option>
                    <option name="classes" value="Ranger (Hunter)">Ranger (Hunter)</option>
                    <option name="classes" value="Ranger (Monster Slayer)">Ranger (Monster Slayer)</option>
                    <option name="classes" value="Ranger (Swarmkeeper)">Ranger (Swarmkeeper)</option>
                    <option name="classes" value="Rogue (Arcane Trickster)">Rogue (Arcane Trickster)</option>
                    <option name="classes" value="Sorcerer">Sorcerer</option>
                    <option name="classes" value="Sorcerer (Aberrant Mind)">Sorcerer (Aberrant Mind)</option>
                    <option name="classes" value="Sorcerer (Clockwork Soul)">Sorcerer (Clockwork Soul)</option>
                    <option name="classes" value="Sorcerer (Divine Soul)">Sorcerer (Divine Soul)</option>
                    <option name="classes" value="Sorcerer (Draconic Bloodline)">Sorcerer (Draconic Bloodline)</option>
                    <option name="classes" value="Sorcerer (Lunar Sorcery)">Sorcerer (Lunar Sorcery)</option>
                    <option name="classes" value="Sorcerer (Shadow Magic)">Sorcerer (Shadow Magic)</option>
                    <option name="classes" value="Sorcerer (Storm Sorcery)">Sorcerer (Storm Sorcery)</option>
                    <option name="classes" value="Sorcerer (Wild Magic)">Sorcerer (Wild Magic)</option>
                    <option name="classes" value="Warlock">Warlock</option>
                    <option name="classes" value="Warlock (The Archfey)">Warlock (The Archfey)</option>
                    <option name="classes" value="Warlock (The Celestial)">Warlock (The Celestial)</option>
                    <option name="classes" value="Warlock (The Fathomless)">Warlock (The Fathomless)</option>
                    <option name="classes" value="Warlock (The Fiend)">Warlock (The Fiend)</option>
                    <option name="classes" value="Warlock (The Genie)">Warlock (The Genie)</option>
                    <option name="classes" value="Warlock (The Great Old One)">Warlock (The Great Old One)</option>
                    <option name="classes" value="Warlock (The Hexblade)">Warlock (The Hexblade)</option>
                    <option name="classes" value="Warlock (The Undead)">Warlock (The Undead)</option>
                    <option name="classes" value="Warlock (The Undying)">Warlock (The Undying)</option>
                    <option name="classes" value="Wizard">Wizard</option>
                    <option name="classes" value="Wizard (Bladesinging)">Wizard (Bladesinging)</option>
                    <option name="classes" value="Wizard (Chronurgy Magic)">Wizard (Chronurgy Magic)</option>
                    <option name="classes" value="Wizard (Graviturgy Magic)">Wizard (Graviturgy Magic)</option>
                    <option name="classes" value="Wizard (Order of Scribes)">Wizard (Order of Scribes)</option>
                    <option name="classes" value="Wizard (School of Abjuration)">Wizard (School of Abjuration)</option>
                    <option name="classes" value="Wizard (School of Conjuration)">Wizard (School of Conjuration) </option>
                    <option name="classes" value="Wizard (School of Divination)">Wizard (School of Divination)</option>
                    <option name="classes" value="Wizard (School of Enchantment)">Wizard (School of Enchantment)</option>
                    <option name="classes" value="Wizard (School of Evocation)">Wizard (School of Evocation)</option>
                    <option name="classes" value="Wizard (School of Illusion)">Wizard (School of Illusion)</option>
                    <option name="classes" value="Wizard (School of Necromancy)">Wizard (School of Necromancy)</option>
                    <option name="classes" value="Wizard (School of Transmutation)">Wizard (School of Transmutation)</option>
                    <option name="classes" value="Wizard (War Magic)">Wizard (War Magic)</option>
                </select>
            </div>  
            <div class="cell small-4 medium-4 large-4">
                <legend>Dice Count:</legend>
                <input type="number" name="roll" placeholder="Dice Count" min="1" max="20" aria-describedby="exampleHelpTextNumber" required pattern="number">
                <span class="form-error"> Number of dice required.</span>
            </div>
            <div class="cell small-4 medium-4 large-4">
                <legend>Die Type:</legend>
                <select id="select" required>
                    <option name="roll" value="d4">d4</option>
                    <option name="roll" value="d6">d6</option>
                    <option name="roll" value="d8">d8</option>
                    <option name="roll" value="d10">d10</option>
                    <option name="roll" value="d12">d12</option>
                    <option name="roll" value="d20">d20</option>
                </select>
            </div>
            <fieldset class="cell small-4 medium-3 large-3">
                <legend>Higher Level Scale?:</legend>
                <input type="radio" name="scale" value="YES" id="pokemonRed"><label for="pokemonRed">Yes</label>
                <input type="radio" name="scale" value="NO" id="pokemonBlue" required><label for="pokemonBlue">No</label>
            </fieldset>
            <div class="cell small-3 medium-3 large-3">
                <legend>Scaling Type:</legend>
                <select id="select" required>
                    <option name="scale" value="Character Level">Character Level</option>
                    <option name="scale" value="Spell Scale">Spell Scale</option>
                    <option name="scale" value="Spell Level">Spell Level</option>
                </select>
            </div>
            <div class="cell medium-2">
                <legend>Saving Throw:</legend>
                <select id="select" required>
                    <option name="save" value="Strength">STR</option>
                    <option name="save" value="Dexterity">DEX</option>
                    <option name="save" value="Constitution">CON</option>
                    <option name="save" value="Intelligence">INT</option>
                    <option name="save" value="Wisdom">WIS</option>
                    <option name="save" value="Charisma">CHA</option>
                </select>
            </div>
            <div class="cell small-12">
                <legend>Effect on Missed Save:</legend>
                <textarea name="save" required pattern="text" placeholder="Effect on Missed Save"></textarea>
            </div>
            <div class="cell small-12">
                <legend>Effect on Save Success:</legend>
                <textarea name="save" required pattern="text" placeholder="Effect on Save Success"></textarea>
            </div>
            <div class="cell small-12">
                <legend>Effect on Save Fail:</legend>
                <textarea name="save" required pattern="text" placeholder="Effect on Save Fail"></textarea>
            </div>
            <!-- <div class="cell small-12">
                <label>Password Required
                <input type="password" id="password" placeholder="yeti4preZ" aria-describedby="exampleHelpTextPassword" required >
                <span class="form-error">
                    I'm required!
                </span>
                <p class="help-text" id="exampleHelpTextPassword">Enter a password please.</p>
                </label>
            </div>
            <div class="cell small-12">
                <label>Re-enter Password
                <input type="password" placeholder="yeti4preZ" aria-describedby="exampleHelpText2" required pattern="alpha_numeric" data-equalto="password">
                <span class="form-error">
                    Hey, passwords are supposed to match!
                </span>
                </label>
                <p class="help-text" id="exampleHelpText2">This field is using the `data-equalto="password"` attribute, causing it to match the password field above.</p>
            </div>
            </div>
            <div class="grid-x grid-margin-x">
            <div class="cell medium-6">
                <label>URL Pattern, not required, but throws error if it doesn't match the Regular Expression for a valid URL.
                <input type="text" placeholder="https://get.foundation" pattern="url">
                </label>
            </div>
            <div class="cell medium-6">
                <label>European Cars, Choose One, it can't be the blank option.
                <select id="select" required>
                    <option value=""></option>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
                </label>
            </div>
            </div>
            <fieldset class="cell medium-6">
                <legend>Choose Your Favorite - not required, you can leave this one blank.</legend>
                <input type="radio" name="pockets" value="Red" id="pocketsRed"><label for="pocketsRed">Red</label>
                <input type="radio" name="pockets" value="Blue" id="pocketsBlue"><label for="pocketsBlue">Blue</label>
                <input type="radio" name="pockets" value="Yellow" id="pocketsYellow"><label for="pocketsYellow">Yellow</label>
            </fieldset>
            <fieldset class="cell medium-6">
                <legend>Check these out</legend>
                <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
                <input id="checkbox2" type="checkbox" required><label for="checkbox2">Checkbox 2</label>
                <input id="checkbox3" type="checkbox"><label for="checkbox3">Checkbox 3</label>
            </fieldset> -->
            </div>
            <div class="grid-x grid-margin-x">
            <fieldset class="cell medium-6">
                <button class="button" type="submit" value="Submit">Submit</button>
            </fieldset>
            <fieldset class="cell medium-6">
                <button class="button" type="reset" value="Reset">Reset</button>
            </fieldset>
            </div>
        </form>
      </div>
    <!-- <div class="container">
            <input type="text" name="name" placeholder="Name">
            <input type="submit" value="Add Spell">
        </form>
    </div> -->
    <%- include('partials/script.ejs') %>
</body>
</html>