<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>New Spell</title>
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <div class="container">
        <h1>Create New Spell</h1>
        <form action="/spells" method="POST" data-abide novalidate>
            <input type="text" name="name" placeholder="Spell Name" required pattern="text">
            <input type="submit" value="Add Spell">
        </form>
    </div>
    <%- include('partials/script.ejs') %>
</body>
</html>